In [1]:
import os
import csv
import pandas as pd

In [2]:
budget_df= pd.read_csv("Resources/budget_data.csv")
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
month_total = budget_df["Date"].count()
pnl_total = budget_df["Profit/Losses"].sum()
ave_month = round(budget_df["Profit/Losses"].mean(),2)
min_month = budget_df["Profit/Losses"].idxmin()
max_month = budget_df["Profit/Losses"].idxmax()

In [4]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {month_total}")
print(f"Total: {pnl_total}")
print(f"Average  Change: ${ave_month}")
print(f"Greatest Increase in Profits: {budget_df.iloc[max_month, 0]} ${budget_df.iloc[max_month, 1]} ")
print(f"Greatest Decrease in Profits: {budget_df.iloc[min_month, 0]} ${budget_df.iloc[min_month, 1]} ")
f = open("analysis.txt", "a")
print("Financial Analysis", file=f)
print("----------------------------", file=f)
print(f"Total Months: {month_total}", file=f)
print(f"Total: {pnl_total}", file=f)
print(f"Average  Change: ${ave_month}", file=f)
print(f"Greatest Increase in Profits: {budget_df.iloc[max_month, 0]} ${budget_df.iloc[max_month, 1]} ", file=f)
print(f"Greatest Decrease in Profits: {budget_df.iloc[min_month, 0]} ${budget_df.iloc[min_month, 1]} ", file=f)
f.close()

Financial Analysis
----------------------------
Total Months: 86
Total: 38382578
Average  Change: $446309.05
Greatest Increase in Profits: Feb-2012 $1170593
Greatest Decrease in Profits: Sep-2013 $-1196225