In [1]:
import os
import csv
import pandas as pd

In [2]:
poll_df= pd.read_csv("Resources/election_data.csv")
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
votes = poll_df["Voter ID"].count()
print(votes)

3521001

In [4]:
view_votes = poll_df["Candidate"].value_counts(ascending=False)

In [5]:
view_votes.head()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [6]:
kv = view_votes.iat[0]
cv = view_votes.iat[1]
lv = view_votes.iat[2]
tv = view_votes.iat[3]

In [7]:
#khan_votes = poll_df[poll_df["Candidate"]=="Khan"].count()
#correy_votes = poll_df[poll_df["Candidate"]=="Correy"].count()
#li_votes = poll_df[poll_df["Candidate"]=="Li"].count()
#tool_votes = poll_df[poll_df["Candidate"]=="O'Tooley"].count()

In [9]:
khan_per = round((kv / votes) *100, 2) 
correy_per = round((cv / votes) *100, 2)
li_per = round((lv / votes) *100, 2)
tool_per = round((tv / votes) *100, 2)

In [10]:
print("Election Results")
print("-------------------------")
print(f"Total Votes: {votes}")
print(f"Khan: {khan_per}%  ({kv})")
print(f"Correy: {correy_per}%  ({cv})")
print(f"Li: {li_per}%  ({lv})")
print(f"O'toole: {tool_per}%  ({tv})")
print("-------------------------")
print(" Winner is Khan")
print("-------------------------")

Election Results
-------------------------
Total Votes: 3521001
Khan: 63.0%  (2218231)
Correy: 20.0%  (704200)
Li: 14.0%  (492940)
O'toole: 3.0%  (105630)
-------------------------
 Winner is Khan
-------------------------

In [12]:
f = open("analysis/analysis.txt", "a")
print("Election Results" , file=f)
print("-------------------------", file=f)
print(f"Total Votes: {votes}", file=f)
print(f"Khan: {khan_per}%  ({kv})", file=f)
print(f"Correy: {correy_per}%  ({cv})", file=f)
print(f"Li: {li_per}%  ({lv})", file=f)
print(f"O'toole: {tool_per}%  ({tv})", file=f)
print("-------------------------", file=f)
print(" Winner is Khan", file=f)
print("-------------------------", file=f)